body {
  font-family: monospace;
  background-image: url("images/sunset-g3d96f15bc_1920.jpg");
  background-size: cover;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 30pt;
}

p {
  font-size: 18pt;
}
