@font-face {
  font-family: Arcade;
  src: url("fonts/arcadeclassic/ARCADECLASSIC.TTF");
}

body {
  font-family: Arcade;
  background-image: url("images/sunset-g3d96f15bc_1920.jpg");
  background-size: cover;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 30pt;
}

p {
  font-size: 18pt;
}

a {
  color: #fff;
}

.center {
  margin: auto;
  width: 560px;
  border: 3px solid purple;
}
