@font-face {
  font-family: Arcade;
  src: url("fonts/arcadeclassic/ARCADECLASSIC.TTF");
}

@font-face {
  font-family: Future;
  src: url("fonts/future/OutrunFuture.otf");
}

@font-face {
  font-family: CyberspaceRaceway;
  src: url("fonts/cyberspace-raceway-back-font/CyberspaceRacewayBack-9arj.ttf");
}

@font-face {
  font-family: AtlantisInternational;
  src: url("fonts/atlantis-international-font/AtlantisInternational-jen0.ttf");
}



body {
  font-family: AtlantisInternational;
  background-image: url("images/sunset-g3d96f15bc_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  font-size: 100%;
}

.topnav {
  background-color: #707;
  overflow: hidden;
  margin-bottom: 40px;
  border-top: 0.1px solid pink;
  border-bottom: 0.1px solid pink;
  border-right: 0.1px solid pink;
  border-left: 0.1px solid pink;
  border-radius: 3px;
}

.topnav a {
  float: left;
  color: #f6f;
  text-align: center;
  padding: 5px 20px;
  font-size: 27pt;
  text-decoration: none;
  border-right: 0.1px solid pink;
  border-radius: 1px;
}

.topnav a:hover {
  background-color: #d0d;
  color: #707;
}

.topnav a.active {
  background-color: #d0d;
  color: white;
}

h1 {
  text-align: center;
  font-size: 45pt;
}

.landingPage {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 50%;
}

.landingPage h1 {
  text-align: center;
  font-size: 72pt;
}

p {
  font-size: 27pt;
}

.landingPage p {
  font-size: 72pt;
}

a {
  color: #fff;
  font-size: 27pt;
}

.landingPage a {
  font-size: 72pt;
}

.embeddedYT {
  margin: 20px auto;
  width: 560px;
  height: 315px;
  border: 5px solid purple;
  border-radius: 5px;
  padding: 0px;
}

.embeddedReddit {
  margin: 20px auto;
  width: 560px;
  height: 630px;
  border: 5px solid purple;
  border-radius: 5px;
  padding: 0px;
}

.article {
  border: 5px solid purple;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 40px 0px 40px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.article h1 {
  text-align: justify;
}

.article p {
  text-align: justify;
}

.embeddedLolcat {
  margin: auto;
  width: 560px;
  display: flex;
  justify-content: center;
}
